.Login {
  max-width: 400px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 3rem;
  border-radius: 5px;
  border: 1px solid black;
}

form {
  width: 100%;
}

  .logo {
    margin-bottom: 1.5rem;
  }

  .header {
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }

  .input-container {
    margin-bottom: 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

    .input-container > label {
      letter-spacing: .5px;
    }

    .input-container > input {
      padding: 10px 5px;
    }

  .submit {
    margin-top: .5rem;
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
  }